.entry {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

/* Additional rule for order */
.roweven {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .entryTextBox {
        align-items: flex-end;
    }
}

/* Styles for image part */
.entryImage {
    flex-basis: 50%;
    width: 100%;
    max-width: 620px;
    // max-height: 400px;
    object-fit: cover;
    box-shadow: 5px 5px 15px 0px #00000026;
}

.entryImage:hover {
    transform: translateY(-32px) scale(1.05);
}

/* Styles for text part */
.entryTextBox {
    flex-basis: 50%;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.entryTitle {
    font-family: baloo;
    font-size: 45px;
    font-weight: bold;
    color: var(--lightblue);
    margin-bottom: 25px;
}

.entrySkills {
    font-size: 23px;
    margin-bottom: 35px;
}

.entryText {
    font-size: 16px;
}

.entryLinkButton {
    margin-top: 50px;
    font-size: 23px;

    display: flex;

    span {
        width: 180px; /* ensures that the following element is not moving when the size changes while hovering */
    }

    .worksBtn {
        color: var(--lightblue);
        cursor: pointer;
        text-decoration: none;
        align-self: center;

        border: 2px solid var(--lightblue);
        border-radius: 10px;
        padding: 15px 30px;
    }

    .worksBtn:hover {
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, var(--lightblue) 6.25%, var(--lightblue) 51.56%, var(--blue) 100%);
        color: white;
        padding: 20px 35px;
    }
}

/* Styles for small screens / mobile */

@media (max-width: 1000px) {
    .entry {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .entryTextBox {
        align-items: center;
    }

    .roweven {
        .entryTextBox {
            align-items: center;
        }
    }

    .entryTitle {
        margin-bottom: 15px;
    }
    
    .entrySkills {
        margin-bottom: 25px;
    }

    .entryLinkButton {
        margin-top: 35px;
        
        .worksBtn {
            padding: 10px 20px;
        }
    
        .worksBtn:hover {
            padding: 15px 25px;
        }
    }
}

@media (max-width: 600px) {
    .entryLinkButton {
        font-size: 20px;

        span {
            width: 130px;
        }
    }
}

@media (max-width: 450px) {
    .entryTitle {
        font-size: 36px;
        line-height: 36px;
    }

    .entrySkills {
        font-size: 18px;
    }

    .entryText {
        font-size: 14px;
    }

    .entryLinkButton {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .entryLinkButton {
        font-size: 14px;
        span {
            width: 115px;
        }
    }
}