<div class="entry row{{entry.row}}">
    <div>
        <img src="{{ entry.image }}" alt="" class="entryImage">
    </div>
    <div class="entryTextBox">
        <div class="entryTitle">
            {{ entry.name }}
        </div>
        <div class="entrySkills">
            {{ entry.skills.join(' | ') }}
        </div>
        <div class="entryText">
            {{ entry.text }}
        </div>
        <div class="entryLinkButton">
            <span><a href="{{ entry.link }}" class="worksBtn">Github</a></span> <span><a href="{{ entry.livelink }}" target="_blank" class="worksBtn">Live test</a></span>
        </div>
    </div>
</div>
