<!-- <div class="wh892 roundBall offset" id="ballHead"></div> -->
<app-header></app-header>

<!-- <h1>Startseite Baloo bold</h1>

<h3>Untertitel Baloo regular</h3>

<span class="textbold">Überschrift</span>
<p class="textnormal">Und etwas Text dazu</p>

<div class="wh200 roundBall"></div> -->

<app-welcome></app-welcome>

<!-- <div class="wh80 roundBall"></div> -->

<app-together></app-together>

<app-skills></app-skills>

<app-mywork></app-mywork>

<app-contact></app-contact>

<app-footer></app-footer>