header {
    // background-color: var(--blue);
    // border: 1px solid red;

    width: 100%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;

    // max-width: 900px;
    img {
        height: 69px;
        margin-left: 100px;
        margin-top: 24px;
    }
}

.menu {
    color: var(--lightblue);

    display: flex;
    align-items: center;

    .menuEntry {
        width: 120px;
        height: 32px;
        cursor: pointer;
    }

    .menuEntry:hover {
        font-weight: bold;
    }
}