<div id="footerContent">
    <div>
        <img src="assets/img/LMZ Weiß.png" alt="" class="footerImg">
    </div>
    <div class="footerCenter">
        <p>&nbsp;</p>
        <p>&copy; Lothar Zok 2023</p>
        <p class="footerSmall">Impressum</p>
    </div>
    <div class="footerLogos">
        <a href="https://github.com/LotharZok"><img src="assets/img/icon-github-white.svg" alt="github"></a>
        <a href="mailto://lothar.zok@web.de"><img src="assets/img/icon-mail-white.svg" alt="mail"></a>
        <a href="https://www.linkedin.com/in/lothar-zok-2395b293"><img src="assets/img/icon-linkedin-white.svg" alt="linkedin"></a>
    </div>
</div>