<div class="roundBall wh200 ball1"></div>
<div class="roundBall wh80 ball2"></div>
<div id="togetherContent">
    <div class="togetherHeader">
        Let's work together
    </div>
    <div class="togetherText">
        I'm a front-end developer based in Neuss, Germany. I enjoy helping designers and companies bring their ideas into real life. 
        I'm looking forward to continuing my developer career with a job in a junior web developer position.<br>
        <br>
        If you think I'd be a good match for your projects, contact me!<br>
        <br><br>
        <a href="mailto://lothar.zok@web.de" target="_blank" class="togetherBtn">Send a message</a>
    </div>
</div>