.contactHeader {
    font-family: baloo;
    font-size: 96px;
    font-weight: bold;
    color: var(--lightblue);
    margin-left: 100px;
}

.contactMsgBlock {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.contactTextBlock {
    margin-left: 100px;
    flex-basis: 50%;
}

.contactTextHeader {
    font-size: 32px;
    font-weight: bold;
    color: var(--lightblue);
}

.contactText {
    font-size: 16px;
}

.contactTextFooter {
    font-size: 16px;
    color: var(--lightblue);

    span {
        font-family: baloo;
        font-weight: bold;
    }
}

.contactMsgForm {
    margin-right: 100px;
    flex-basis: 50%;
}











.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px; /* ok */
    gap: 10px; /* ok */
    width: 422px;
    height: 51px;
    border: 2px solid var(--lightblue); /* ok */
    border-radius: 10px; /* ok */
    cursor: pointer;

    input {
        border: none;
        font-family: Montserrat;
        font-size: 16px;
    }

    input:focus {
        outline: none;
    }
}

.inputContainerTextarea {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 15px;
	gap: 10px;
	width: 422px;
	height: 97px;
    background-color: white;
	border: 2px solid var(--lightblue);
	border-radius: 10px;
	cursor: pointer;

    textarea {
        font-size: 16px;
        font-family: Montserrat;
        border: none;
        flex: 1;
    }

    textarea:focus {
        outline: none;
    }
}

.inputContainerTextarea textarea:focus {
	outline: none;
}