/* General style */

.d-none {
    opacity: 0;
}

/* General style for this section */

#contactContent {
    padding: 0 100px 50px 100px;
}

/* Styles for texts */

.contactHeader {
    font-family: baloo;
    font-size: 96px;
    font-weight: bold;
    color: var(--lightblue);
}

.contactMsgBlock {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.contactTextBlock {
    flex-basis: 50%;
}

.contactTextHeader {
    font-size: 32px;
    font-weight: bold;
    color: var(--lightblue);
    margin-bottom: 32px;
}

.contactText {
    font-size: 16px;
    margin-bottom: 24px;
}

.contactTextFooter {
    font-size: 16px;
    color: var(--lightblue);

    span {
        font-family: baloo;
        font-weight: bold;
    }
}

/* Styles for the message form */

.contactMsgForm {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.msgButton {
    height: 70px;
    display: flex;
    justify-content: center;
}

.msgSendBtn {
    font-size: 23px;
    font-family: Montserrat;
    color: var(--lightblue);
    background-color: white;
    cursor: pointer;
    border: 2px solid var(--lightblue);
    border-radius: 10px;
    padding: 15px 30px;
    align-self: center;
}

.msgSendBtn:hover {
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, var(--lightblue) 6.25%, var(--lightblue) 51.56%, var(--blue) 100%);
    color: white;
    padding: 20px 35px;
}

/* styles for form fields */

#msgNameBox,
#msgEmailBox {
    height: 75px;
}
#msgMessageBox {
    height: 120px;
}

.inputContainer,
.inputContainerTextarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 2px solid var(--lightblue);
    border-radius: 10px;

    input,
    textarea {
        border: 1px solid green;
        width: calc(100% - 65px);
        margin: 10px 15px;
        border: none;
        font-family: Montserrat;
        font-size: 16px;
        resize: none;
    }
    
    input:focus,
    textarea:focus {
        outline: none;
    }
}
.inputContainer:hover,
.inputContainerTextarea:hover {
    border: 3px solid var(--lightblue);
}

.inputContainer {
    height: 51px;
}

.inputContainerTextarea {
	height: 97px;
    background-color: white;

    textarea {
        flex: 1;
    }
}

.inputContainerTextarea textarea:focus {
	outline: none;
}

.requiredMessage {
    color: red;
    font-size: 12px;
    margin-bottom: 4px;
}

.msgMark {
    width: 25px;
    height: 25px;
}
#msgMessageMark {
    margin-right: 6px;
}

.msgSent {
    font-family: baloo;
    font-size: 24px;
    color: var(--blue);
    text-align: center;
    margin-top: 16px;
}

/* Styles for small screens / mobile */

@media (max-width: 1000px) {
    .contactMsgBlock {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #contactContent {
        padding: 75px 75px 35px 75px;
    }
    .contactHeader {
        font-size: 80px;
    }
    .contactTextHeader {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .myworkText {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    #contactContent {
        padding: 50px 50px 25px 50px;
    }
    .contactHeader {
        font-size: 60px;
    }
    .myworkText {
        font-size: 18px;
    }
    .msgSendBtn {
        padding: 10px 20px;
    }
    .msgSendBtn:hover {
        padding: 15px 25px;
    }
}

@media (max-width: 350px) {
    #contactContent {
        padding: 30px 30px 15px 30px;
    }
    .contactHeader {
        font-size: 40px;
    }
    .myworkText {
        font-size: 16px;
    }
}