<div id="contactContent">
    <div class="contactHeader">
        Contact
    </div>
    <div class="contactMsgBlock">
        <div class="contactTextBlock">
            <div class="contactTextHeader">
                Got a problem to solve?
            </div>
            <div class="contactText">
                Contact me through this form. I'm interested in hearing from you, knowing your ideas and contributing to your projects with my work.
            </div>
            <div class="contactTextFooter">
                Need a Frontend developer? <span>Contact me!</span>
            </div>
        </div>
        <div class="contactMsgForm">
            <div class="msgNameBox" class="inputContainer">
                <input type="text" name="msgName" id="msgName" placeholder="Your name" class="">
            </div>
            <div class="msgEmailBox" class="inputContainer">
                <input type="text" name="msgEmail" id="msgEmail" placeholder="Your email">
            </div>
            <div class="msgMessageBox" class="inputContainer">
                <textarea name="msgMessage" id="msgMessage" cols="30" rows="10" placeholder="Your message"></textarea>
            </div>
        </div>
    </div>
</div>