<div id="contactContent">
    <div class="contactHeader">
        Contact
    </div>
    <div class="contactMsgBlock">
        <div class="contactTextBlock">
            <div class="contactTextHeader">
                Got a problem to solve?
            </div>
            <div class="contactText">
                Contact me through this form. I'm interested in hearing from you, knowing your ideas and contributing to your projects with my work.
            </div>
            <div class="contactTextFooter">
                Need a Frontend developer? <span>Contact me!</span>
            </div>
        </div>
        <!-- <div> -->
            <!-- <form action="" (submit)="sendMail()" method="post" class="contactMsgForm"> -->
            <form (submit)="sendMail()" ngNativeValidate #myForm class="contactMsgForm">
                <div class="msgNameBox" class="inputContainer">
                    <input type="text" name="name" id="msgName" required placeholder="Your name" class="" #nameField>
                </div>
                <div class="msgEmailBox" class="inputContainer">
                    <input type="email" name="email" id="msgEmail" required placeholder="Your email" #emailField>
                </div>
                <div class="msgMessageBox" class="inputContainerTextarea">
                    <textarea name="msgMessage" id="message" required cols="30" rows="3" placeholder="Your message" #messageField></textarea>
                </div>
                <button #sendButton>Say hello :)</button>
            </form>
            
        <!-- </div> -->
    </div>
</div>