<div id="skillContent">
    <div class="skillHeader">
        Skill set
    </div>
    <div class="skillIcons">
        <div class="skillList">
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/angular.svg" alt="Angular" class="skillIcon">
                <span class="skillLabel">Angular</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/typescript.svg" alt="TypeScript" class="skillIcon">
                <span class="skillLabel">TypeScript</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/javascript.svg" alt="JavaScript" class="skillIcon">
                <span class="skillLabel">JavaScript</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/html.svg" alt="HTML" class="skillIcon">
                <span class="skillLabel">HTML</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/scrum.svg" alt="Scrum" class="skillIcon">
                <span class="skillLabel">Scrum</span>
            </div>
        </div>
        <div class="skillList">
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/firebase.svg" alt="Firebase" class="skillIcon">
                <span class="skillLabel">Firebase</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/git.svg" alt="GIT" class="skillIcon">
                <span class="skillLabel">GIT</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/css.svg" alt="CSS" class="skillIcon">
                <span class="skillLabel">CSS</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/api.svg" alt="Rest-Api" class="skillIcon">
                <span class="skillLabel">Rest-Api</span>
            </div>
            <div class="skillIconBox">
                <img src="../../assets/img/skillicons/materialdesign.svg" alt="Material Design" class="skillIcon">
                <span class="skillLabel">Material<br>Design</span>
            </div>
        </div>
    </div>
</div>
