h1 {
    font-family: Baloo;
    font-weight: bold;
    color: var(--blue);
}
h3 {
    font-family: Baloo;
    color: var(--lightblue);
}
.textbold {
    font-family: Montserrat;
    font-weight: bold;
}
.textnormal {
    font-family: Montserrat;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}