header {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;

    img {
        height: 69px;
    }

    a {
        text-decoration: none;
        color: var(--lightblue);

        :visited {
            color: var(--lightblue);
        }
    }
}

.menu {
    color: var(--lightblue);
    // margin-right: 100px;

    display: flex;
    align-items: center;

    .menuEntry {
        width: 120px;
        height: 32px;
        text-align: right;
        cursor: pointer;
    }

    .menuEntry:hover {
        font-weight: bold;
    }
}

.impressum {
    padding: 0 100px 50px 100px;

    h1 {
        font-family: baloo;
        font-size: 40px;
        color: var(--lightblue);
    }
}

footer {
    color: white;
    height: 100px;
    padding: 0 100px;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, var(--lightblue) 6.25%, var(--lightblue) 51.56%, var(--blue) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerImg {
        height: 69px;
    }
}

/* Styles for small screens / mobile */

@media (max-width: 600px) {
    header,
    footer {
        padding: 35px 75px;
    }
    .impressum {
        padding: 0 75px 35px 75px;
    }
}

@media (max-width: 450px) {
    header,
    footer {
        padding: 25px 50px;
    }
    .impressum {
        padding: 0 50px 25px 50px;
    }
    footer {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    header,
    footer {
        padding: 15px 30px;
    }
    .impressum {
        padding: 0 30px 15px 30px;
    }
}