/* Background styles */

.welcomeGradient {
    top: 0;
    position: absolute;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    height: 923px;
    // height: 100vh;
    width: 100%;
    z-index: -2;
}

#ballHead {
    position: absolute;
    top: -75px;
    left: -199px;
    z-index: -1;
}

/* Content styles */

.welcomeContent {
    margin: auto;
    padding: 70px 100px 0 100px;
    display: flex;
    justify-content: space-evenly;
    height: 853px;
}

.personImage {
    width: 100%;
    align-self:flex-end;
    flex-basis: 50%;

    display: flex;
    justify-content: center;

    img {
        width: 100%;
        max-width: 670px;
        max-height: 900px;

        object-fit: cover;
        object-position: center;
    }
}

.welcomeText {
    margin: auto;
    width: 100%;
    color: var(--lightblue);
    padding-top: 125px;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .welcomeSubHeader {
        font-size: 60px;
        font-weight: normal;
        line-height: 64px;
    }

    .welcomeHeader {
        font-family: Baloo;
        font-size: 120px;
        font-weight: bold;
        line-height: 120px;
    }
}

.welcomeBottom {
    width: 100%;
    font-size: 23px;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .welcomeVerticalLine {
        width: 100%;
        height: 286px;
        display: flex;
        justify-content: space-evenly;

        div {
            width: 100%;
        }
    }
}

.welcomeLogos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 48px;

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    img:hover {
        transform: translateX(-10px);
    }
}

/* special classes for tags */

.sm3 {
    letter-spacing: -3px;
}
.sp3 {
    letter-spacing: 3px;
}
.sp2 {
    letter-spacing: 2px;
}
.br1 {
    border-right: 1px solid var(--lightblue);
}
.bl1 {
    border-left: 1px solid var(--lightblue);
}

/* Styles for small screens / mobile */

@media (max-width: 1400px) {
    .welcomeText {
        padding-top: 70px;
        .welcomeSubHeader {
            font-size: 40px;
            line-height: 44px;
        }
        .welcomeHeader {
            font-size: 100px;
            line-height: 100px;
        }
    }
    .welcomeBottom {
        padding-top: 50px;
    }
    .welcomeVerticalLine {
        height: 351px !important;
    }
    .welcomeContent {
        height: 773px;
    }
    .welcomeGradient {
        height: 843px;
    }
}

@media (max-width: 1250px) {
    .welcomeText {
        .welcomeSubHeader {
            font-size: 30px;
            line-height: 34px;
        }
        .welcomeHeader {
            font-size: 80px;
            line-height: 80px;
        }
    }
    .welcomeBottom {
        padding-top: 30px;
    }
    .welcomeContent {
        height: 704px;
    }
    .welcomeGradient {
        height: 774px;
    }
}

@media (max-width: 1100px) {
    .welcomeText {
        .welcomeSubHeader {
            font-size: 20px;
            line-height: 20px;
        }
        .welcomeHeader {
            font-size: 70px;
            line-height: 70px;
        }
    }
    .welcomeBottom {
        padding-top: 20px;
    }
    .welcomeContent {
        height: 660px;
    }
    .welcomeGradient {
        height: 730px;
    }
    .wh892 {
        width: 700px;
        height: 700px;
    }
}

@media (max-width: 950px) {
    .welcomeContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .welcomeText {
        color: white;
        .welcomeSubHeader {
            font-size: 30px;
            line-height: 30px;
        }
        .welcomeHeader {
            font-size: 80px;
            line-height: 80px;
        }
        .sm3 {
            letter-spacing: -1px;
        }
    }

    .welcomeBottom {
        display: none;
    }

    .personImage img {
        height: 685px;
        object-fit: contain;
    }

    .welcomeText {
        order: -1;
    }
    .welcomeContent {
        height: 967px;
    }
    .welcomeGradient {
        height: 1037px;
    }
    .wh892 {
        width: 892px;
        height: 892px;
    }
}

@media (max-width: 725px) {
    .welcomeContent {
        padding: 70px 75px 0 75px;
    }
    .welcomeText {
        .welcomeSubHeader {
            font-size: 25px;
            line-height: 25px;
        }
        .welcomeHeader {
            font-size: 70px;
            line-height: 70px;
        }
    }
    .welcomeContent {
        height: 899px;
    }
    .welcomeGradient {
        height: 969px;
    }
    .personImage img {
        height: 600px;
    }
    .wh892 {
        width: 700px;
        height: 700px;
    }
}

@media (max-width: 610px) {
    .welcomeText {
        .welcomeSubHeader {
            font-size: 25px;
            line-height: 25px;
        }
        .welcomeHeader {
            font-size: 60px;
            line-height: 60px;
        }
    }
    .welcomeContent {
        height: 830px;
    }
    .welcomeGradient {
        height: 900px;
    }
    .personImage img {
        height: 550px;
    }
}

@media (max-width: 575px) {
    .welcomeContent {
        height: 730px;
    }
    .welcomeGradient {
        height: 800px;
    }
    .personImage img {
        height: 500px;
    }
}

@media (max-width: 535px) {
    .welcomeContent {
        padding: 70px 50px 0 50px;
    }
    .wh892 {
        width: 600px;
        height: 600px;
    }
    .personImage img {
        height: 450px;
    }
}

@media (max-width: 490px) {
    .welcomeText {
        .welcomeSubHeader {
            font-size: 20px;
            line-height: 20px;
        }
        .welcomeHeader {
            font-size: 50px;
            line-height: 50px;
        }
    }
    .welcomeContent {
        height: 690px;
    }
    .welcomeGradient {
        height: 760px;
    }
    .personImage img {
        height: 400px;
    }
}

@media (max-width: 415px) {
    .welcomeContent {
        height: 600px;
    }
    .welcomeGradient {
        height: 670px;
    }
    .personImage img {
        height: 350px;
    }
}

@media (max-width: 380px) {
    .welcomeContent {
        padding: 70px 30px 0 30px;
    }
    .welcomeText {
        .welcomeHeader {
            font-size: 40px;
            line-height: 40px;
        }
    }
    .welcomeContent {
        height: 575px;
    }
    .welcomeGradient {
        height: 645px;
    }
    .personImage img {
        height: 325px;
    }
    .wh892 {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 319px) {
    .welcomeText {
        .welcomeSubHeader {
            font-size: 15px;
            line-height: 15px;
        }
        .welcomeHeader {
            font-size: 35px;
            line-height: 35px;
        }
    }
    .welcomeContent {
        height: 485px;
    }
    .welcomeGradient {
        height: 555px;
    }
    .personImage img {
        height: 280px;
    }
}

@media (max-width: 300px) {
    .welcomeContent {
        height: 455px;
    }
    .welcomeGradient {
        height: 525px;
    }
    .personImage img {
        height: 250px;
    }
}