<section id="welcome" class="welcomeContent">
    <div class="personImage">
        <img src="../../assets/img/img-sofia.png" alt="">
    </div>

    <div class="welcomeText">
        <span class="welcomeSubHeader">Hello! I'm Lothar</span><br>
        <span class="welcomeHeader sp3">FRONTEND</span>
        <span class="welcomeHeader sm3">DEVELOPER</span>
        <div class="welcomeBottom">
            <div>SCROLL</div>
            <div class="welcomeVerticalLine">
                <div class="br1">&nbsp;</div>
                <div class="bl1 welcomeLogos">
                    <a href="https://github.com/LotharZok"><img src="../../assets/img/icon-github.svg" alt="github"></a>
                    <a href="mailto://lothar.zok@web.de"><img src="../../assets/img/icon-mail.svg" alt="mail"></a>
                    <a href="https://www.linkedin.com/in/lothar-zok-2395b293"><img src="../../assets/img/icon-linkedin.svg" alt="linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</section>

