#myworkContent {
    padding: 100px 100px 50px 100px;
}

.myworkHeader {
    font-family: baloo;
    font-size: 96px;
    font-weight: bold;
    color: var(--lightblue);
}

.myworkText {
    font-size: 23px;
}

.ball {
    // position: absolute;
}

.ball1 {
    position: absolute;
    margin-top: 60px;
    margin-left: 550px;
}

.ball2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 75%;
}

.ball3 {
    position: absolute;
    margin-top: 530px;
    margin-left: -200px;
    z-index: -1;
}

.ball4 {
    position: absolute;
    margin-top: 750px;
    margin-left: 1000px;
    z-index: -2;
}

.ball5 {
    position: absolute;
    margin-top: 1150px;
    margin-left: 75px;
    z-index: -2;
}