#myworkContent {
    padding: 100px 100px 50px 100px;
}

.myworkHeader {
    font-family: baloo;
    font-size: 96px;
    font-weight: bold;
    color: var(--lightblue);
}

.myworkText {
    font-size: 23px;
}