<div class="roundBall wh109 ball ball1"></div>
<div class="roundBall wh183 ball ball2"></div>
<div class="roundBall wh393 ball ball3"></div>
<div class="roundBall wh652 ball ball4"></div>
<div class="roundBall wh51 ball ball5"></div>
<div id="myworkContent">
    <div class="myworkHeader">
        My work
    </div>
    <div class="myworkText">
        Here you'll find some examples of my work so far - please feel free to try them out.
    </div>

    <app-myworkentry *ngFor="let work of works;" [entry]="work"></app-myworkentry>
    <!-- Why on earth do I get the class when the row is ood?? And not when it's even?? -->
</div>
