
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//    @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//    @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//    $portfolio-primary: mat.define-palette(mat.$indigo-palette);
//    $portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
//    $portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $portfolio-theme: mat.define-light-theme((
//   color: (
//     primary: $portfolio-primary,
//     accent: $portfolio-accent,
//     warn: $portfolio-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//    @include mat.all-component-themes($portfolio-theme);

/* You can add global styles to this file, and also import other style files */

/* Inherited Fonts */
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Baloo;
    src: url(assets/fonts/Baloo2-Regular.ttf);
}
@font-face {
    font-family: Baloo;
    src: url(assets/fonts/Baloo2-Bold.ttf);
    font-weight: bold;
}

/* Colour codes */
:root {
    --blue: #160266;
    --lightblue: #3704ff;
    --lightblue-rgb: 55, 4, 255;
    --background-radiant: 234, 240, 255;
}

/* Styles for all parts of the document */
html {
    scroll-behavior: smooth;
    position: relative !important;
}
body {
    font-family: Montserrat;
    margin: 0;
    overflow-x: hidden;
    position: relative !important;
}

* {
    transition: all 0.2s ease-in-out;
}

/* Styles for Balls with gradients in different sizes */
.roundBall {
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, var(--lightblue) 6.25%, var(--lightblue) 51.56%, var(--blue) 100%);
    border-radius: 50%;
}

.wh892 {
    width: 892px;
    height: 892px;
    // width: 50%;
    // min-width: 425px;
    // aspect-ratio: 1 / 1;
}
.wh652 {
    width: 652px;
    height: 652px;
}
.wh393 {
    width: 393px;
    height: 393px;
}
.wh238 {
    width: 238px;
    height: 238px;
}
.wh200 {
    width: 200px;
    height: 200px;
}
.wh183 {
    width: 183px;
    height: 183px;
}
.wh109 {
    width: 109px;
    height: 109px;
}
.wh93 {
    width: 93px;
    height: 93px;
}
.wh80 {
    width: 80px;
    height: 80px;
}
.wh73 {
    width: 73px;
    height: 73px;
}
.wh51 {
    width: 51px;
    height: 51px;
}
/* END Styles for Balls */
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
