/* You can add global styles to this file, and also import other style files */

/* Inherited Fonts */
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Baloo;
    src: url(assets/fonts/Baloo2-Regular.ttf);
}
@font-face {
    font-family: Baloo;
    src: url(assets/fonts/Baloo2-Bold.ttf);
    font-weight: bold;
}

/* Colour codes */
:root {
    --blue: #160266;
    --lightblue: #3704ff;
}

/* Styles for all parts of the document */
body {
    font-family: Montserrat;
    margin: 0;
}

.roundBall {
    // background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #3704ff 6.25%, #3704ff 51.56%, #160266 100%);
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, var(--lightblue) 6.25%, var(--lightblue) 51.56%, var(--blue) 100%);
    border-radius: 50%;
}

.wh892 {
    width: 892px;
    height: 892px;
}
.wh200 {
    width: 200px;
    height: 200px;
}
.wh80 {
    width: 80px;
    height: 80px;
}